<%layout("/layouts/boilerplate") %>  <!--used for ejsmate template -->    

<body>
    <h1>About Page</h1>
    <p>This is about page of our  website.</p>
    <ul>
    <li>History of the resturants : </li>
    <li>Geography : </li>
    <li>Culture & Festivals :</li>
    <li>Famous People from resturants :</li>
    <li>Special guests</li>
</ul>
</body>