<% layout("/layouts/boilerplate")%>

<body>
    <h1>Welcome to Feedbadk page...</h1>
    <form action="">
        <label for="Uname">Name: </label>
        <input type="text" placeholder="Enter your Name" id="Uname"><br><br>

        <label for="">Give your Feedback : </label>
        <textarea name="" id="textarea" placeholder="How do you feel after coming here?"></textarea><br><br>
        <button>Send Feedback</button>
    </form>
    <br><br>
</body>