<% layout("/layouts/boilerplate")%>

<body>
    <h1>Gallery Page</h1>
    
    
  
  <input type="file" id="fileInput">
  <label class="input-group-text" for="fileInput">Upload</label> 


    <p>This is Gallery page of our village website.</p>
    <ul>
    <li>Important place : </li>
    <li> Events: </li>
    <li>Festivals Celebrations :</li>
    <li>Natural Scenery :</li>
    <li>Cultural Activities :</li>
    </ul>
</body>