<%layout("/layouts/boilerplate") %>  <!--used for ejsmate template -->
<style>
  body{
    
    background-image: none;
    background-size: cover;
    width:100vw;
  }
</style>
<body>
  <img src="https://plus.unsplash.com/premium_photo-1661432769134-758550b8fedb?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8cmVzdGF1cmFudCUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D" alt="" width="100%">
</body>