<% layout("/layouts/boilerplate")%>;

<body>
    <h1>welcome to home page</h1>
    <form method="get" action="/home/index">
        <button class="btn btn-outline-danger">Click here  TO see 
            website
        </button>
    </form>
</body>