<% layout("/layouts/boilerplate")%>

<body>
    <div class="login">
         
         <form action="">
            <h3>Login your Family</h3>
            <label for="">Enter your Name: </label>
            <input type="text" placeholder="Enter your  name"> <br><br>
            <label for="">Enter your Family Name: </label>
            <input type="text" placeholder="Enter your family name"><br><br>
            <label for="">Enter your Password:</label>
            <input type="password" placeholder="Enter your password"><br><br>
            <button>Login</button>
         </form>
            <a href="">Forgot password</a> | <a href="/signup">Sign up</a>
    </div>
   
</body>